<% var headerpath=pageComponents.root_path+pageComponents.layoutcomponents[0].pageComponents.header.type %>
<%- include(headerpath) %> 


<!--Area for changing the component-->

<% if(pageData.editmode) { %>
  <div class="btn-group">
      <button class="btn btn-info btn-sm" type="button">
       Manage Header
      </button>
      <button type="button" class="btn btn-sm btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
 <div class="dropdown-menu">
   <button type="button" class="dropdown-item"  data-toggle="modal" data-target="#headerModal" data-whatever="@mdo">Add Header</button>
   <div class="dropdown-divider"></div>
   <button type="button" class="dropdown-item"  data-toggle="modal" data-target="#headerstyleModal" data-whatever="@mdo">Edit Header Style</button>

  </div>
</div>
 <% } %>    


     

 <div class="modal fade" id="headerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Add header</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="container">
           <div class="row" style="height:100px;">
             <div class="col-lg-4">
            <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;background-color: darkslategrey">
               <form method="POST" id="header1">
                   <input type="hidden" name="category" value="header"/>
                   <input type="hidden" name="component" value="/views/components/headers/header1.ejs"/>
                   <button type="submit" style="font-size: 10px !important;background-color:crimson;color:#fff;margin-top:-10px;" class="btn btn-default navbar-btn">Header 1</button>
                 </form>
           </div>
            </div>
             <div class="col-lg-4">
              <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;background-color: darkslategrey">
                 <form method="POST" id="header2">
                     <input type="hidden" name="category" value="header"/>
                     <input type="hidden" name="component" value="/views/components/headers/header2.ejs"/>
                     <button type="submit" style="font-size: 10px !important;background-color:crimson;color:#fff;margin-top:-10px;" class="btn btn-default navbar-btn">Header 2</button>
                   </form>
             </div>
            </div>
             <div class="col-lg-4">
              <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;background-color: darkslategrey">
                 <form method="POST" id="header3">
                     <input type="hidden" name="category" value="header"/>
                     <input type="hidden" name="component" value="/views/components/headers/header3.ejs"/>
                     <button type="submit" style="font-size: 10px !important;background-color:crimson;color:#fff;margin-top:-10px;" class="btn btn-default navbar-btn">Header 3</button>
                   </form>
             </div>
            </div>
           </div>
           <div class="row" style="height:100px;">
            <div class="col-lg-4">
           <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;background-color: darkslategrey"></div>
           </div>
            <div class="col-lg-4">
             <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;background-color: darkslategrey"></div>
           </div>
            <div class="col-lg-4">
             <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;background-color: darkslategrey"></div>
           </div>
          </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save</button>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade" id="headerstyleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Edit header style</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row" style="height:100px;">
              <div class="col-lg-12">
             <div style="width:90%;height: 90%;margin-top:5px;margin-left:5px;">
                <form method="POST" >
                  <label>Background-color:</label>
                    <input type="text" name="color" placeholder="add background color like #ccc"/>
                    <button type="submit" style="font-size: 10px !important;background-color:crimson;color:#fff;margin-top:-10px;" class="btn btn-default navbar-btn">Save</button>
                  </form>
            </div>
             </div>
         
            </div>
        
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>