<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= pageComponents.pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap-4.0.0-dist/css/bootstrap.min.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>  -->
	<script src="/assets/jquery.min.js"></script>
	
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/text-editor/summernote-lite.css" rel="stylesheet">
 
	
	<link rel="stylesheet" href="/assets/styles.css"/>	
 <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" /> -->
   
	<style type="text/css">
	body{
      font-family: "Open Sans", sans-serif;
      background-color:lavender;
      font-size: 0.8rem;
     /* background-image: url('/assets/imgs/bg4.jpg');*/
background-blend-mode:color-burn;
/*background-color: rgba(28, 173, 23, 0.8);*/
background-position:top;
background-size: cover;
background-attachment: fixed;
    }
		.cbp-popup-singlePage .cbp-popup-navigation-wrap {
			background-color: #F5B80C !important;
		}
		.navbar-nav{
			/*background-color:#592414 !important;*/
			background-color: #DB2723 !important;
			color: #fff !important;
			padding-left: 50px !important;
			padding-right: 50px !important; 
		}
		.table{

		display: table;
	 	
	 	width: 100%; 
	 	background: #fff;
	 	margin: 0;
	 	box-sizing: border-box;

	 }
		
	</style>
	
</head>
<body style="background-color:lavender">
    <div class="container">
            
