<nav aria-label="breadcrumb" style="background-color:brown;">
    <ol class="breadcrumb" style="background-color:brown;">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>