<h4 style="text-align: center;height:100px;background-color: beige;color: #ccc;"></h4>
    <form action="/logout">
      <button type="submit" style="font-size: 12px !important;background-color:crimson;color:#fff;margin:auto;height:30px;width:150px;" class="btn btn-default navbar-btn">
    Logout
       </button>
    </form>

    