<ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/layouts/"</a>Layouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/components">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>